html {
  font-size: 62.5%;
  position: relative;
}


body {
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
 
 
}

h1 {
  font-weight: 600;
  color: #4663A7;
}

p {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
